p#pierwszy:first-letter
{
	font-size: 115pt;
	color: silver;
}
p#drugi:first-letter
{
	color: yellow;
}
p
{
	font-size:22pt;
	color:turquoise;
}

h1
{
	color:#32179F;
	font-size:20pt;
}
h1:first-letter
{
	color:silver;
	font-size:100px;
}
p#linia:first-line
{
  color:red;
  font-size:15pt;
}
p#linia
{
	font-size:19pt;
	color:turquoise;
}
